- hosts: httpd
  become: yes

  vars:
    build_number: "{{ lookup('env','BUILD_NUMBER') }}"

  tasks:

  - name: Ensure Python3 is installed
    yum:
      name: python3
      state: present

  - name: Install Docker SDK for Python
    package:
      name: python3-docker
      state: present

  - name: Set up Docker yum repository
    yum_repository:
      name: docker
      description: Docker YUM repo
      baseurl: https://download.docker.com/linux/centos/8/$basearch/stable
      gpgcheck: yes
      gpgkey: https://download.docker.com/linux/centos/gpg

  - name: Install Docker packages
    yum:
      name:
        - docker-ce
        - docker-ce-cli
        - containerd.io
      state: present

  - name: Start and enable Docker service
    service:
      name: docker
      state: started
      enabled: yes

  - name: Create app directory
    file:
      path: /home/ec2-user/app
      state: directory

  - name: Copy WAR file to EC2
    copy:
      src: /var/lib/jenkins/workspace/new/target/kitchensink.war
      dest: /home/ec2-user/app/kitchensink.war

  - name: Create Dockerfile on EC2
    copy:
      dest: /home/ec2-user/app/Dockerfile
      content: |
        FROM tomcat:9.0
        COPY kitchensink.war /usr/local/tomcat/webapps/
        EXPOSE 8080

  - name: Build Docker image
    community.docker.docker_image:
      name: bloomy/myapp
      tag: "1.0.{{ build_number }}"
      source: build
      build:
        path: /home/ec2-user/app

  - name: Run webserver container
    community.docker.docker_container:
      name: myapp
      image: "bloomy/myapp:1.0.{{ build_number }}"
      state: started
      restart_policy: always
      ports:
        - "8050:8080"
